html{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
ul, ol{

}
pre{
  white-space: break-spaces;
}
img{
  max-width: 100%;
}
p, pre{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 0.9em;
  @media all and (max-width: 768px) {
    font-size: 15px;
  }
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  @media all and (max-width: 1200px) {
    font-size: 30px;
  }
  @media all and (max-width: 1024px) {
    font-size: 24px;
  }
  @media all and (max-width: 768px) {
    font-size: 18px;
  }
  @media all and (max-width: 500px) {
    font-size: 14px;
  }
}
ul,ol{
  list-style: none;
  margin: 0;
  li{
    margin-bottom: 0.6em;
  }
}
strong, b{
  font-weight: 600;
}
em{
  font-style: italic;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 42px;
  @media all and (max-width: 1200px) {
    font-size: 34px;
  }
  @media all and (max-width: 1024px) {
    font-size: 26px;
  }
  @media all and (max-width: 768px) {
    font-size: 18px;
  }
  @media all and (max-width: 500px) {
    font-size: 10px;
  }
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#add_payment_method .cart-collaterals .cart_totals table, .woocommerce-cart .cart-collaterals .cart_totals table, .woocommerce-checkout .cart-collaterals .cart_totals table{
    border: none;
  }
#add_payment_method .wc-proceed-to-checkout, .woocommerce-cart .wc-proceed-to-checkout, .woocommerce-checkout .wc-proceed-to-checkout{
  padding: 0;
  margin-top: 38px;
  a{
    margin-bottom: 0!important;
  }
}
.woocommerce-cart-form__cart-item.cart_item{
  .product-remove{
    position: relative;
  }
  .product-name{
    display: flex;
    align-items: center;
  }
  a{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #112A3D;
    width: calc(100% - 43px);
  }
  .product-thumbnail__container{
    height: 132px;
    min-width: 99px;
    margin-right: 43px;
    img{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .product-lnk__container{
    .article-code{
      font-size: 14px;
      line-height: 135.9%;
      font-weight: 400;
      display: block;
      margin-top: 6px;
      strong{
        font-weight: 500;
        font-size: 18px;
        line-height: 135.9%;
        color: #A9C0D0;
      }
    }
  }
}
.woocommerce table.shop_table{
  border-bottom: none;
}
.woocommerce table.shop_table td{
  &.product-price, &.product-subtotal, &.product-quantity{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #112A3D;
    width: 17%;
  }
  .quantity__row{
    padding-left: 0;
  }
  .cart-remove-btn{
    background-color: #A9C0D0;
    width: 26px;
    height: 26px;
    border-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    color: white!important;
    font-size: 30px;
    line-height: 100%;
  }
}
.woocommerce-cart-form__cart-item.cart_item{

  td{
    border-top: 1px solid rgba(169,192,208,0.3)!important;
    border-bottom: 1px solid rgba(169,192,208,0.3)!important;
    &:first-child{
      border-left: 1px solid rgba(169,192,208,0.3);
    }
    &:last-child{
      border-right: 1px solid rgba(169,192,208,0.3);
    }
  }
}
.woocommerce table.shop_table{
  border-right: none;
  border-left: none;
  tbody tr:nth-child(even){
    background-color: transparent;
  }
  thead{
    background-color: #A9C0D0;
    tr{
      background-color: transparent;
      th{
        color: white;
      }
    }
  }
  .devider{
    border-left: none;
    border-right: none;
  }
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
  width: 100%;
  max-width: 497px;
  background-color: #EEF3F8;
  padding: 40px;
  margin-bottom: 64px;
  .order-total{
    margin-top: 20px;
    th, td{
      font-weight: 500;
      font-size: 18px;
      line-height: 135.9%;
      color: #112A3D;
      border: none;
      padding: 0;
    }
    th{
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 135.9%;
      color: #112A3D;
    }
    td{
      text-align: right;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #112A3D;
    }
  }
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
  background-color: #112A3D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  padding: 14px 30px;
  &:hover{
    background-color: #4BC3E8;
  }
}
a.button{
  background-color: #112A3D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: .3s;
  padding: 14px 30px;
  &:hover{
    background-color: #4BC3E8;
  }
}
a{
  color: #0E5A9E;
}
.woocommerce table.shop_attributes th{
  width: 20%;
}
thead{
  tr{
    &:nth-child(odd){
      background-color: rgba(75,195,232,0.3);
    }
    td, th{
      padding: 10px;
    }

  }
}
tbody{
  th{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  td{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  th, td{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: #000000;
    border-top: 1px solid #0E5A9E;
    padding: 10px;
    text-align: left;
    p{
      padding-left: 20px!important;
    }
    @media all and (max-width: 830px) {
      font-size: 14px;
    }
    @media all and (max-width: 600px) {
      font-size: 12px;
      padding: 8px;
    }
    @media all and (max-width: 400px) {
      font-size: 10px;
      padding: 8px;
    }
    &.actions{
      text-align: left;
      .button{
        padding: 14px 30px;
      }
    }
  }
  tr{
    &:nth-child(even){
      background-color: rgba(75,195,232,0.3);
    }
    td, th{
      padding: 10px;
    }

  }
}

.button-green, #sendbutton, .dem-button {
  background-color: #112A3D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 121.4%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
  box-shadow: none;

  &:hover{
    background-color: #4BC3E8;
    color: white;
  }
}
.section-title{
  font-size: 36px;
  line-height: 122.5%;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin: 0 0 26px 0;
  max-width: 1400px;
  display: flex;
  align-items: center;
  padding: 0;
  text-transform: uppercase;
  svg{
    margin-left: 12px;
  }
  @media all and (max-width: 1000px) {
    font-size: 32px;
    svg{
      height: 32px;
      width: auto;
      margin-left: 10px;
    }
  }
  @media all and (max-width: 900px) {
    font-size: 30px;
    svg{
      height: 30px;
      width: auto;
      margin-left: 7px;
    }
  }
  @media all and (max-width: 660px) {
    font-size: 24px;
    svg{
      height: 24px;
      width: auto;
      margin-left: 4px;
    }
  }
  @media all and (max-width: 500px) {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 100%;
    justify-content: center;
    svg{
      height: 18px;
      width: auto;
    }
  }
}

#add_payment_method .cart-collaterals .cart_totals .woocommerce-shipping-destination, .woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination, .woocommerce-checkout .cart-collaterals .cart_totals .woocommerce-shipping-destination{
  padding-left: 0!important;
}
.woocommerce form .form-row{
  padding-left: 0;
}
.cart-collaterals{
  tbody td p, tbody th p{
    padding-left: 0!important;
  }
}